@media screen and (max-width: 1024px){
    #locations{
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        padding: 15px 30px;
    }
    .card h2{
        grid-area: name;
        padding-left: 15px;
        margin: 5px 0px;
    }
}
@media screen and (max-width: 640px){
    header{
        display: grid;
        padding: 10px 5%;
    }
    #logo{
        width: 60px;
    }
    #title{
        font-size:large;
    }
    #icon{
        display: block;
        margin-left: auto;
        margin-right: 10px;
        background-color: #d7ecff;
        border: 2px solid;
    }
    #icon img{
        width: 35px;
    }
    #navigation{
        display: none;
    }
    .card{
        width: 100%;
        background-color: var(--secondary-color);
        border: 2px solid var(--primary-color);
        display: grid;
        grid-template-areas:
        "name"
        "picture"
        "description"
        "address"
        "button";
        place-items: center;
        text-align: center;
    }
    .card figure{
        width: auto;
        margin: 15px auto;
    }
    .card img{
        max-width:100%;
        margin: auto;
    }
    .card img:hover{
        box-shadow: 0 0 0;
    }
    .card address{
        grid-area: address;
    }
    .card button{
        grid-area: button;
        width: 40%;
    }
    #cards{
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }
}