:root{
    --primary-color: #083e7a;
    --secondary-color: #b2dcff;
    --tertiary-color: #5f9ea0;
    --font-family: "Roboto";
}
@media screen and (min-width: 320px){
    main{
        font-family: "roboto";
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    header{
        margin: 10px 0px;
        padding: 0px 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        background-color: var(--primary-color);
        color: #e9effa;
    }
    header div{
        display: flex;
        align-items: center;
        padding: 5px;
        gap: 10px;
    }
    #title{
        color: #e9effa;
        font-size: 30px;
    }
    #logo{
        width: 90px;
    }
    #icon{
        display:none;
    }
    nav{
        background-color: var(--primary-color);
        padding:15px;
        font-size: 20px;
    }
    #current{
        text-decoration: underline;
    }
    nav a{
        padding:0px 10px;
        text-decoration: none;
        color: #e9effa;
    }
    nav a:hover{
        color: var(--tertiary-color);
    }
    h1{
        width: 100%;
        text-align: center;
    }
    h2{
        color: #e9effa;
        background-color: var(--primary-color);
    }
    #lastVisited{
        width: 90%;
        text-align: center;
    }
    #locations{
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .card{
        width: 90%;
        background-color: var(--secondary-color);
        border: 2px solid var(--primary-color);
        display: grid;
        grid-template-areas:
        "name name"
        "picture description"
        "picture address"
        "button button";
        padding: 15px 30px;
    }
    .card h2{
        grid-area: name;
        width: 90%;
        padding-left: 15px;
        margin: 0px;
    }
    .card p{
        grid-area:description;
        margin-top: 15px;
    }
    .card figure{
        grid-area: picture;
        width: 100%;
        margin: 15px 30px auto auto;
    }
    .card img{
        max-width:300px;
        max-height: 200px;
        margin: auto;
        border: 2px solid var(--primary-color);
    }
    .card img:hover{
        box-shadow: 0 0 15px #333;
    }
    .card address{
        grid-area: address;
    }
    .card button{
        grid-area: button;
        width: 40%;
        height: 30px;
        margin: 15px auto 0px;
        background-color: #d3e2fc;
    }
    .card button:hover{
        background-color: #c6f8ff;
    }
    footer{
        text-align: center;
        display:grid;
        background-color: var(--secondary-color);
        padding:10px 0px;
        margin-top: 25px;
    }
}