:root{
    --primary-color: #083e7a;
    --secondary-color: #b2dcff;
    --tertiary-color: #5f9ea0;
    --font-family: "Roboto";
}
@media screen and (min-width: 320px){
    main{
        font-family: "roboto";
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    header{
        margin: 10px 0px;
        padding: 0px 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        background-color: var(--primary-color);
        color: #e9effa;
    }
    header div{
        display: flex;
        align-items: center;
        padding: 5px;
        gap: 10px;
    }
    #title{
        color: #e9effa;
        font-size: 30px;
    }
    #logo{
        width: 90px;
    }
    #icon{
        display:none;
    }
    nav{
        background-color: var(--primary-color);
        padding:15px;
        font-size: 20px;
    }
    #current{
        text-decoration: underline;
    }
    nav a{
        padding:0px 10px;
        text-decoration: none;
        color: #e9effa;
    }
    nav a:hover{
        color: var(--tertiary-color);
    }
    h1{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    h2{
        color: #e9effa;
        background-color: var(--primary-color);
        text-align: center;
        margin-top: 0px;
        padding: 5px;
    }
    dialog{
        border: 3px solid var(--primary-color);
        background-color: var(--secondary-color);
    }
    #fillout{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    form{
        padding: 10px 50px;
        background-color: var(--secondary-color);
        border: 2px solid var(--primary-color);
    }
    form p{
        margin-bottom: 0px;
    }
    label input{
        width: 200px;
    }
    #fillout div{
        padding: 0px 15px;
    }
    textarea{
        min-width: 200px;
        min-height: 70px;
    }
    form input[type=submit]{
        margin: 20px 0px;
        width: 120px;
        height: 30px;
        background-color: #d8ebfa;
    }
    form input[type=submit]:hover{
        background-color: #b2dcff;
    }
    #membershipLevels{
        display: grid;
        gap: 30px;
        grid-template-rows: 1fr 1fr 1fr;
        margin-bottom: 20px;
    }
    #membershipLevels div{
        text-align: center;
        max-width: 600px;
        background-color: var(--secondary-color);
        padding: 0px 50px 25px;
        border: 2px solid var(--primary-color);
    }
    #membershipLevels button{
        margin: 10px 0px 0px;
        width: 120px;
        height: 30px;
        background-color: #d8ebfa;
    }
    #membershipLevels button:hover{
        background-color: #b2dcff;
    }
    .card{
        width: 100%;
        background-color: var(--secondary-color);
        border: 2px solid var(--primary-color);
        display: grid;
        place-items: center;
        text-align: center;
        padding: 10px 0px;
    }
    .card h3{
        margin: 5px 0px;
    }
    .card button{
        margin: 5px;
    }
    footer{
        text-align: center;
        display:grid;
        background-color: var(--secondary-color);
        padding:10px 0px;
        margin-top: 25px;
    }
}