:root{
    --font: "Alan Sans";
    --primary-color: rgb(255, 49, 22);
    --secondary-color: rgb(238, 219, 195);
    --tertiary-color: rgb(67, 0, 0);
}
@media screen and (min-width: 320px){
    body{
        background-color: var(--secondary-color);
    }
    main{
        font-family: var(--font);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    main p{
        font-family: var(--body-font);
        width: 50%;
    }
    header{
        margin: 10px 0px;
        padding: 0px 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        background-color: var(--tertiary-color);
        color: #e9effa;
    }
    header div{
        display: flex;
        align-items: center;
        padding: 5px;
        gap: 10px;
    }
    #title{
        font-family: var(--font);
        color: var(--primary-color);
        font-size: 30px;
    }
    #logo{
        width: 50px;
        aspect-ratio: auto 50/50;
    }
    #icon{
        display:none;
        aspect-ratio: auto 30/30;
    }
    nav{
        padding:15px;
        font-size: 20px;
    }
    #current{
        text-decoration: underline;
    }
    nav a{
        font-family: var(--font);
        padding:0px 10px;
        text-decoration: none;
        color: var(--primary-color);
    }
    nav a:hover{
        color: var(--secondary-color);
    }
    h1{
        font-family: var(--font);
        width: 100%;
        text-align: center;
        background-color: var(--tertiary-color);
        color: var(--primary-color);
    }
    #blurb{
        max-width: 90%;
    }
    footer{
        background-color: var(--tertiary-color);
        padding:10px;
        display: flex;
        justify-content: center;
        color: var(--secondary-color);
    }
    h2{
        color: var(--tertiary-color);
        background-color: var(--secondary-color);
        width: 50%;
        text-align: center;
        margin-top: 0px;
        padding: 5px;
    }
    main p{
        font-family: var(--body-font);
        width: 50%;
    }
    footer p{
        font-family: var(--body-font);
        color: var(--secondary-color);
    }
    #dragon{
        max-width: 50%;
        border: 2px solid rgb(131, 87, 45);
        margin-bottom: 20px;
    }
    a{
        color: var(--tertiary-color);
    }
    a:hover{
        color: var(--primary-color);
    }
}
