@media screen and (max-width: 640px) {
    header{
        display: grid;
        padding: 10px 5%;
    }
    #icon{
        display: block;
        margin-left: auto;
        margin-right: 10px;
        background-color: var(--secondary-color);
        border: 2px solid;
    }
    #icon img{
        width: 35px;
    }
    #navigation{
        display: none;
    }
    #blurb{
        width: 100%;
    }    
    #buttons{
        display:none;
    }
    table{
        width:95%;
    }
    td button{
        width: 90%;
    }
    #campaignCards{
        display: none;
        width: 90%;
        gap: 15px;
        flex-wrap: wrap;
        margin-bottom: 20px;
        place-items: center;
    }
    form{
        grid-template-columns: auto;
        justify-content: center;
        row-gap: 10px;
    }
    form .infoClump{
        height: 100%;
    }
    #selectedCampaign{
        width: 90%;
        padding: 5px;
    }
    #message{
        width: 250px;
        height: 100px;
    }
}