@media screen and (max-width: 640px) {
    header{
        display: grid;
        padding: 10px 5%;
    }
    #icon{
        display: block;
        margin-left: auto;
        margin-right: 10px;
        background-color: var(--secondary-color);
        border: 2px solid;
    }
    #icon img{
        width: 35px;
    }
    #navigation{
        display: none;
    }
    table{
        width:95%;
    }
    form{
        width: 90%;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: rgb(116, 48, 9);
        text-align: center;
        gap: 10px;
    }
    form .infoClump{
        height: 100%;
    }
    #selectedCampaign{
        width: 90%;
        padding: 5px;
    }
    #submit{
        margin-bottom: 20px;
        width: 50%;
    }
}