@media screen and (min-width: 320px){
    main{
        font-family: "roboto";
    }
    header{
        margin: 10px 0px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    #logo{
        width: 90px;
    }
    #icon{
        display:none;
    }
    nav{
        background-color: #083e7a;
        padding:15px;
        font-size: 20px;
    }
    #current{
        text-decoration: underline;
    }
    nav a{
        padding:0px 10px;
        text-decoration: none;
        color: #e9effa;
    }
    nav a:hover{
        color: cadetblue;
    }
    h2{
        color: #e9effa;
        background-color: #083e7a;
        text-align: center;
    }
    section{
        background-color: #d7ecff;
    }
    section h2{
        margin-top: 0px;
        padding: 5px;
    }
    #sections{
        display: grid;
        grid-template-columns: 9fr 4fr;
        column-gap: 20px;
        row-gap: 20px;
    }
    #about{
        height: 100%;
    }
    #studentPhoto{
        height: 100%;
        width: 100%;
        display: grid;
    }
    #studentPhoto img{
        margin: 25px auto;
    }
    #certificates{
        grid-column: 1/3;
        background-color: white;
    }
    #certificates h2{
        grid-column: 1/4
    }
    #buttons{
        display: flex;
        justify-content: space-between;
    }
    #buttons button{
        width:32%;
        height:40px;
        background-color: #d7ecff;
        border: 2px solid black;
        font-size:medium;
        font-weight: bold;
    }
    #buttons button:hover{
        background-color: #b2dcff;
    }
    #creditCount{
        width: 100%;
        text-align: center;
    }
    #courseList{
        margin-top: 25px;
        display: flex;
        flex-wrap:wrap;
        text-align: center;
        justify-content: space-between;
        gap: 25px;
    }
    #courseList section{
        width: 32%;
        border: 1px solid black;
    }
    .completed{
        background-color: #b5ffb5;
    }
    #links{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    #links img{
        width: 50px;
    }
    footer{
        text-align: center;
        display:grid;
        background-color: #d7ecff;
        padding:10px 0px;
    }
}